
@model HomeVm


<div class="tab-content" id="myTabContent">

    <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
        @await Html.PartialAsync("_ProductListPartial",Model.NewArrival)
    </div>
    <div class="tab-pane fade" id="bestseller" role="tabpanel" aria-labelledby="bestseller-tab">
        @await Html.PartialAsync("_ProductListPartial",Model.BestSeller)
    </div>
    <div class="tab-pane fade" id="featured" role="tabpanel" aria-labelledby="featured-tab">
        @await Html.PartialAsync("_ProductListPartial",Model.Featured)
    </div>

</div> <!-- tab content -->

